@using GottaMix.Controllers;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h2>LED STATE MONITOR</h2>
            <a href="#" class="btn-round btn-round-red-off">RED OFF</a>
            <a href="#" class="btn-round btn-round-yellow-on">YELLOW ON</a>
            <a href="#" class="btn-round btn-round-green-off">GREEN OFF</a>

            <h2>SOUND BOARD</h2>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Do })" class="key-btn key-btn-do">Do</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Re })" class="key-btn key-btn-re">Re</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Mi })" class="key-btn key-btn-mi">Mi</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Fa })" class="key-btn key-btn-fa">Fa</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.So })" class="key-btn key-btn-so">So</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Ra })" class="key-btn key-btn-ra">Ra</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Si })" class="key-btn key-btn-si">Si</a>
        </div>

        <div class="col-sm-5">
            <h2>INPUT MODULE</h2>
            <div class="row center-block">
                <div id="current" class="box">
                    <span class="box-title">SWITCH COUNTER</span>
                    <p class="number">@*@ViewData["ButtonCount"]*@1</p>
                </div>

                <div id="current" class="box">
                    <span class="box-title">MOTION SENSOR</span>
                    <p class="number">@*@ViewData["Motion"]*@Ditected</p>
                </div>

                <div align="right">
                    <img src="~/images/rogo.png" />
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/js/gpiohub.js"></script>*@
