@using GottaMix.Controllers;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>LED STATE MONITOR</h2>
            <a id="red-led" href="@Url.Action("ToggleLed","Home", new { pinNo = 3 })" class="btn-round btn-round-red-off">RED OFF</a>
            <a id="yellow-led" href="@Url.Action("ToggleLed","Home", new { pinNo = 21 })" class="btn-round btn-round-yellow-off">YELLOW OFF</a>
            <a id="green-led" href="@Url.Action("ToggleLed","Home", new { pinNo = 22 })" class="btn-round btn-round-green-off">GREEN OFF</a>

            <h2>SOUND BOARD</h2>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Do })" class="key-btn key-btn-do">Do</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Re })" class="key-btn key-btn-re">Re</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Mi })" class="key-btn key-btn-mi">Mi</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Fa })" class="key-btn key-btn-fa">Fa</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.So })" class="key-btn key-btn-so">So</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Ra })" class="key-btn key-btn-ra">Ra</a>
            <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Si })" class="key-btn key-btn-si">Si</a>
        </div>

        <div class="col-sm-6">
            <h2>INPUT MODULE</h2>
            <div class="row center-block">
                <div class="box">
                    <span class="box-title">SWITCH COUNTER</span>
                    <p id="switch-current" class="number">@ViewData["ButtonCount"]</p>
                </div>

                <div class="box">
                    <span class="box-title">MOTION SENSOR</span>
                    <p id="motion-current" class="number">@ViewData["Ditected"]</p>
                </div>

                <div align="right">
                    <img src="~/images/rogo.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/gpiohub.js"></script>
