@using GottaMix.Controllers;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div id="current">@ViewData["ButtonCount"]</div>
        <div id="motion"></div>
    </div>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>GPIO Pin No. (BCM)</th>
                <th>GPIO Pin No. (wri)</th>
                <th>Led Color</th>
                <th>State</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td>
                <td>8</td>
                <td>Yellow</td>
                <td>@ViewData["Pin8Value"]</td>
                <td>
                    <a href="@Url.Action("ChangeLed","Home", new {pinNo = 8, isOn = true})"
                       class="btn btn-info btn-sm">LIGHT ON</a>
                    <a href="@Url.Action("ChangeLed","Home", new {pinNo = 8, isOn = false})"
                       class="btn btn-default btn-sm">LIGHT OFF</a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>22</td>
                <td>Red</td>
                <td>@ViewData["Pin22Value"]</td>
                <td>
                    <a href="@Url.Action("ChangeLed","Home", new {pinNo = 22, isOn = true})"
                       class="btn btn-info btn-sm">LIGHT ON</a>
                    <a href="@Url.Action("ChangeLed","Home", new {pinNo = 22, isOn = false})"
                       class="btn btn-default btn-sm">LIGHT OFF</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-3">
        <h2>Alerm Test</h2>
        <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Do })" class="btn btn-info btn-sm">Do</a>
        <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Re })" class="btn btn-info btn-sm">Re</a>
        <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Mi })" class="btn btn-info btn-sm">Mi</a>
        <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Fa })" class="btn btn-info btn-sm">Fa</a>
        <a href="@Url.Action("Beep","Home", new { pitch = Pitch.So })" class="btn btn-info btn-sm">So</a>
        <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Ra })" class="btn btn-info btn-sm">Ra</a>
        <a href="@Url.Action("Beep","Home", new { pitch = Pitch.Si })" class="btn btn-info btn-sm">Si</a>
    </div>
</div>

<script src="~/js/gpiohub.js"></script>
